php_value upload_max_filesize 512M
php_value post_max_size 512M
php_value memory_limit 2048M
php_value max_input_time 3600
php_value max_execution_time 3600

RewriteEngine on
# Если это папка или файл, открываем его
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# В противном случае перенаправляем на index.php
RewriteRule . index.php
