.get-children {
    margin-right: 4px;
}
div.children-block {
    display: none;
}

ul.links-list div.action .caret {
    display: none;
}
ul.links-list {
    margin-bottom: 5px;
}
ul.links-list ul.links-list {
    margin-left: 15px;
}
ul.links-list > li > div.inner {
    padding: 2px 2px 1px 5px;
    border-radius: 3px;
    transition: all .3s;
}
ul.links-list > li > div.inner:hover, ul.links-list > li > div.inner.active {
    background: #f1f1f1;
}
ul.links-list > li > div.inner.active a.active {
    font-weight: 600;
}
ul.links-list > li .children-block {
    display: none;
}

ul.select-links-list > li {
    margin-bottom: 2px;
}
ul.select-links-list ul.select-links-list {
    margin-left: 15px;
}
ul.select-links-list > li > a.active {
    font-weight: bold;
    font-size: 1.1em;
}